*{
    margin: 0;
    padding: 0;
}
@media screen{
    .block{
        width: 50vw;
        height: auto;
    }
}
@media handheld{
    .block{
        width: 100vw;
        height: auto;
    }
}
body{
    display: flex;
    justify-content: center;
    background-color: black;
}

.block img{
    margin-top: 0;
    width: 100%;
    height: auto;
}